<%= form_for [@app,@unit] do |f| %>
    <%= errors_for @unit %>
    <div class="form-group">
      <%= f.label :property %>
      <%= f.text_field :property, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :uom %>
      <%= f.text_field :uom, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>