- content_for :share do
  = link_to "#", class: "btn-share", data: { toggle: "modal", target: "#modalShare" }, title: "Share" do
    %i.fa.fa-share-alt
    Share

%section.app-content
  .box.segment.segment-brand.segment-edit.p-sm.m-b-0
    .row.no-gutter
      .col-sm-12
        .table-cell
          %span.brand-logo
            = image_tag @brand.logo
        .table-cell.col-sm-middle
          %h1.m-t-0= @brand.name
          - if @brand.official?
            .col-md-12
              %i.fa.fa-map-marker.fz-md{"aria-hidden" => "true"}
              = @brand.location
          - else
            .m-t-sm
              = link_to "#", class: "btn btn-outline btn-secondary" do
                %i.fa.fa-gavel.fa-md
                Claim this brand

  .row
    .col-md-12
      %hr.m-0/
      .m-b-lg.nav-tabs-horizontal
        / tabs list
        .segment-add
          = render 'tab_menu'
          / .nav-tabs
          .segment-actions
            - if user_signed_in?
              = link_to new_standardization_path(referable_id: @brand.id, referable_type: "Brand"), class: "btn-add icon icon-circle icon-md" do
                %i.fa.fa-plus
                %span.hidden Assign Standard
        / Tab panes
        .tab-content
          = render 'summary_tab'
          = render 'commodities_tab'
          = render 'standards_tab'

= render 'shared/social_share', share_url: slugged_brand_url(@brand.uuid,@brand.name.parameterize)
