= form_for @standardization do |f|
  = errors_for @standardization
  = f.hidden_field :referable_type
  = f.hidden_field :referable_id
  .form-group
    = f.label :standard
    = f.select :standard_id, Standard.all.map{|s| [s.name, s.id]}, {}, class: "form-control"
